[Unit]
Description=Hubitat Automation Stack
Requires=hubitat-offload.service hubitat-event.service
After=hubitat-offload.service hubitat-event.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
